@import url('https://fonts.googleapis.com/css2?family=Voltaire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--text-headers: hsl(250, 5%, 98%);
	--text-body: hsl(250, 5%, 90%);
	--bg-color: hsl(250, 5%, 20%);
	--primary: hsl(268, 18%, 65%);
	--bg-surface: hsl(from var(--bg-color) h s 23%);

	--ff-base: 'Inter', sans-serif;
	--ff-accent: 'Voltaire', sans-serif;

	--fs-300: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
	--fs-400: clamp(1.35rem, 1.1792rem + 0.7591vw, 1.7675rem);
	--fs-500: clamp(1.62rem, 1.2603rem + 1.5986vw, 2.4992rem);
	--fs-600: clamp(1.944rem, 1.2936rem + 2.8908vw, 3.5339rem);
	--fs-700: clamp(2.3328rem, 1.2429rem + 4.844vw, 4.997rem);
	--fs-800: clamp(2.7994rem, 1.054rem + 7.757vw, 7.0657rem);

	--spacing: 1rem;
	--border-radius: 0.375rem;
	--max-width: 800px;
}

body {
	font-family: var(--ff-base);
	font-size: var(--fs-400);

	color: var(--text-body);
	background-color: var(--bg-color);
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
	font-family: var(--ff-accent);
	line-height: 1.1;
}

h1 {
	font-size: var(--fs-700);
	color: var(--primary);
}

h2 {
	font-size: var(--fs-600);
	color: var(--primary);
}

h3 {
	font-size: var(--fs-500);
	color: var(--text-headers);
}

a {
	color: var(--primary);

	&:hover,
	&:focus-visible {
		color: hsl(from var(--primary) h s 80%);
	}
}

h1,
h2,
h3 a {
	text-decoration: none;
}

pre {
	overflow-x: auto;
	max-width: 100%;
	padding: var(--spacing);
}

pre code {
	font-family: monospace;
	white-space: pre;
	font-size: var(--fs-300);
	tab-size: 2;
}

article {
	position: relative;
	margin-top: var(--spacing);
	padding: var(--spacing);
	background-color: var(--bg-surface);
	border-radius: var(--border-radius);

	a::before {
		content: '';
		position: absolute;
		inset: 0;
	}

	&:hover,
	&:focus-within {
		background-color: hsl(from var(--bg-surface) h s 25%);
	}
}

nav {
	font-family: var(--ff-accent);
	margin-bottom: 2rem;
}

nav ul {
	list-style: none;
	padding-inline-start: 0;
	display: flex;
	align-items: center;
	gap: var(--spacing);
}

nav ul a {
	font-size: var(--fs-300);
	text-decoration: none;
}

.wrapper {
	width: min(100% - 3rem, 65ch);
	margin-inline: auto;
}

.flow > * + * {
	margin-top: 1em;
}

.category-list {
	font-size: var(--fs-300);
	padding-inline-start: 0;
	list-style: none;
	display: flex;
	gap: calc(var(--spacing) / 0.75);
}

.category-list li {
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--primary);
	border-radius: var(--border-radius);
}

.nav-icon {
	width: 20px;
	height: 20px;
}

.unstyled-list {
	padding-inline-start: 0;
	list-style: none;
}
