@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text: 66 66 66;
		--background: 247 247 247;
		--primary: 96 23 120;
		--secondary: 0 32 128;
		--accent: 173 0 55;
	}

	html {
		@apply bg-background;
		@apply text-text;
		@apply transition-colors;
	}

	body {
		font-family: 'Lato', sans-serif;
	}

	.dark {
		--text: 209 209 209;
		--background: 8 8 8;
		--primary: 208 135 232;
		--secondary: 128 159 255;
		--accent: 255 82 137;
	}
}
